<div class='container pt-3 pb-4' >
    <p class='main-text'>
        Hi! I'm <h1 class = "user"> Prateek Agarwal,</h1>

        <div class = "main-text"> <div class="dim2"> Pre-Final Year CSE </div>undergrad at  <div class ="dim2"> Lovely Professional University</div>
    </p>

    <br>
    <p class='main-text'>
        I'm obssesed with the idea of solving problems using technology as a tool.This Live Code-With-Dude is my one such attempt at
        making learning programming together easy and fun.
        For implementing the concurrent edits and realtime colaboration I have used <div class = "dim2">Operational Transformations</div> and <div class="dim2">socket.io</div> for chatting and syncing the code file. <br>
    <br>
    



        You can find this project on <a href="https://github.com/agarwal66/code-friends"><div class="dim2">Github Here!</div> </a>.
    
        </p>
        
        I'm a Full Stack Web Developer(<div class="dim2">MERN stack</div>) and budding <div class="dim3">Competitive Programmer.</div> 
        
        
        <br>

    <p class='main-text'>
    With an Interest toward problem Solving I am Naturally Inclined towards Competitive Programming and I'm Active on various online platforms.
    <br>
    <br>
    </p>
<div class="dim1">Competitive Programming Profiles :</div>
<br>

    <div class = "row">
        <div class="col-md-4 p-1 justify-content-center">
           <div class = "card">
        <div class='cf '> <img class='img'
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzBcZILcIiSeV1Vlgk6lFwDEDWSKR0Kd4WHA&usqp=CAU">    codeforces</div>
                <br>

        <div class="row">
            <div class="col-md-6">
                <a href=''><div class='uname'>agarwalprateek666</div></a>
                
            </div>
            <div class="col-md-6">
             <div class="expert">  newbie (Blue!)</div>
            </div>
        </div>
    
        <div class="row">
            
            <div class="col-md-5">
                <div class = 'intro'>   Rating  : </div>
                <div class='rating'>609</div>
            </div>
        </div>
        </div>
        </div>
        <div class="col-md-4 p-1">
            <div class="card">
            <div class='cc '><img class='img'
                src="https://pbs.twimg.com/profile_images/1278400799157161985/tAMX00cr_400x400.jpg">    codechef</div>
            <br>
        
            <div class="row">
                <div class="col-md-6">
                    <a href=''>
                        <div class='uname'>agarwalprateek666</div>
                    </a>
        
                </div>
                <div class="col-md-6">
                    <div class="star"> </div>
                </div>
            </div>
            
            <div class="row">
        
                <div class="col-md-5">
                    <div class='intro' ></div>
                    <div class='rating'></div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4 p-1 justify-content-center">
            <div class = "card ">
            <div class='lc '><img class='img' src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png">LeetCode</div>
            <br>
        
            <div class="row">
                <div class="col-md-6">
                    <a href=''>
                        <div class='uname'>agarwalprateek666</div>
                    </a>
        

                {{!-- <div class="col-md-6">
                    <div class="expert"> Expert (Blue!)</div>
                </div> --}}
            </div>
            </div>
           
            <div class="row">
        
                <div class="col-md-6">
                    <div class='intro'> Rating : </div><br>
                    <div class='rating'>1559</div>
                </div>
                <div class="col-md-6">
                    <div class='intro'>Problems : </div><br>
                    <div class='rating'>450+</div>
                </div>
                
            </div>

        </div>
        </div>


        

    </div>
    <br>
    <br>
    <p class="main-text pb-4">
        
        Have a look at my <a href="https://github.com/agarwal66">
            <div class="dim2">Github Profile.</div>
        </a><br>
        Connect with me on <a href="https://www.linkedin.com/in/prateekpassionate/">
            <div class="dim2">LinkedIn.</div>
        </a><br>

        For any <div class="dim2">suggesstions </div>, <div class="dim2">issues</div> and <div class="dim2">collaborations</div> write to me at <a href="mailto:agarwalprateek55@gmail.com">agarwalprateek55@gmail.com"</a> or message me on linkedIn . I will be more than happy to hear from you 😁.

    </p>


    
   

</div>